@charset "UTF-8";


/*----------GLOBAL STYLES----------*/
html {
  min-width: 650px;
}

body {
  font-family: 'Roboto', sans-serif;


}

h1 {
  color: #2497f4;
  font-size: 2em;
}

p {
  color: #000;
}

a {
  color: #2498f4;
  text-decoration: none;
}


a:hover {
  text-decoration: none;
}

/*-------COL-MD-4----*/
.col-md-4 {
  max-width: 400px;
}

/*----------HEADER----------*/
.header {
  background-color: #208ee5;
  background: url(../images/header_bar.png);
  text-align: right;
  padding: 0 100px 0 0;
  height: 45px;
}

.header p {
  display: inline-block;
  color: #fff;
  padding: 15px 10px 0 0;
}

.logo {
  border-right: 1px solid #ccc;
  color: #fff;
  font-size: 1.15em;
  padding: 0 10px 0 0;
}

.icon_help {
  padding: 0 30px 0 0;
  border-right: 1px solid #ccc;
}

.header_settings {
  
}

/*--------MENU------*/
.menu {
    background: url(../images/menu_background2.png) no-repeat;
    background-size: 100% 100%;
    min-height: 110px;
}

.menu_centered {
    text-align: center;
}

/*------MENU ICONS-----*/
.dashboard-shadow {
  margin: 15px;
}

.customers-shadow {
  margin: 16px 0;
}

.messages-shadow {
  margin: 26px 0 0 0;
}

.promotions-shadow {
  margin: 24px 0 0 0;
}

.page_creator-shadow {
  margin: 25px 0 0 0;
}

.analytics-shadow {
  margin: 25px 0 0 0;
}
/*------ICON HOVER-----*/
.dashboard:hover {
    background: url(../sprites/menu_hover.png) no-repeat;
    background-position: -9px -6px ;
}

.active:active {
  background: url(../sprite/triangle_sprites.png) no-repeat;
  background-position: -28px -23px ;
}

.customers:hover {
    background: url(../sprites/menu_hover.png) no-repeat;
    background-position: -9px -87px ;
}

.messages:hover {
    background: url(../sprites/menu_hover.png) no-repeat;
    background-position: -14px -160px ;
}

.promotions:hover {
    background: url(../sprites/menu_hover.png) no-repeat;
    background-position: -101px -11px ;
}

.page_creator:hover {
    background: url(../sprites/menu_hover.png) no-repeat;
    background-position: -102px -154px ;
}

.analytics:hover {
    background: url(../sprites/menu_hover.png) no-repeat;
    background-position: -103px -80px ;
}




/*--------DASHBOARD------*/
#dashboard {
    background-color: #33cc66;
    min-height: 75px;
    margin: 15px 0;
    border-radius: 5px 0px 0px 5px;  
}

#dashboard p {
    color: #fff;
    font-size: 2.5em;
    margin: 12px;
}

.dashboard-row {
    margin: 0 5px 5px 0;
}

#search-dash {
    background-color: #33cc66;
    min-height: 75px;
    margin: 15px 0;
    border-radius: 0px 5px 5px 0px;
}

/*-------SEARCH---------*/
/*-----Search help url: http://webdesign.tutsplus.com/tutorials/css-experiments-with-a-search-form-input-and-button--cms-22069----*/

.box {
    margin: 12px auto;
    width: 200px;
    height: 50px;
    padding: 10px 0 0 0;
    float: right;
}

.container-1 {
    width: 200px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search {
    width: 200px;
    height: 30px;
    background: #fff;
    border: none;
    font-size: 1em;
    float: left;
    color: #000;
    padding-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-right: 45px;
}

.container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 160px;
    margin-top: 2px;
    z-index: 1;
    background: none;
    border: none;
    float: right;
    text-align: right;
    
}

/*-------MAIN CONTAINER------*/
/*-----Gradient url: www.w3schools.com/css/tryit.asp?filename=trycss3_gradient-linear-----*/
#gradient {
    background: #fff; /*For browsers that dow not support gradients*/
    background: -webkit-linear-gradient(#f6f6f6, white, white); /*For Safari 5.1 to 6.0*/
    background: -o-linear-gradient(#f6f6f6, white, white); /*For Opera 11.1 to 12.0*/
    background: -moz-linear-gradient(#f6f6f6, white, white); /*For Firefox 3.6 to 15*/
    background: linear-gradient(#f6f6f6, white, white); /*Standard*/
    border-radius: 10px;
    padding: 1em;
}

.main-area {
    background-color: #ffffff;
    padding: 0 1em 0 1em;
    border: 2px solid #f6f6f6;
    margin: 0 0 2em 0;
}

.main {
    border: solid 1px;
}

/*--------ANNOUNCEMENTS------*/
#announcements {
    min-height: 50px;
    border-bottom: solid 2px #f6f6f6;
}

.orange_txt {
    color: #fba931;
    font-weight: 800;
    text-align: center;
    padding: 1.1em 0 0 1.1em;
    float: left;
    font-size: 1em;
    
}

.announcements-txt {
    height: 50px;
    text-align: center;
    border-right: 2px solid #f6f6f6;
}

.announcements-reg {
    padding: 1.1em 0 0 0;
    color: #000;
    float: left;
    font-size: 1em;
    text-align: center;
}

.thin_spacer {
    float: right;
}

.announcements-arrows {
    padding: 1.1em 1em 0 0;
    text-align: center;
}


/*---------TASKS------*/

.tasks-header {
  min-height: 60px;
  min-width: 325px;
}

.icon_settings {
  float: right;
  margin: 25px;
  margin-right: 50px;
  padding-right: 40px;
  margin-top: 36px;
}

#tasks p {
  color: #2394ee;
  font-size: 2em;
  float: left;
  padding: 10px 0 0 0;
}

/*----HOVER----*/

.tasks-row-txt {
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 .5em;
}

.tasks {
  color: #2394ee;
  min-height: 60px;
  min-width: 325px;
  font-size: 1.5em;
  float: left;
  border-bottom: 1px solid #ccc;
  padding: 10px 0 0 10px;
}

.green_circle {
  margin: 0 0 0 5px;
}

.green_circle_active {
  color: #fff;
  font-size: .7em;
  position: absolute;
  padding: 2px 0 .1px 7px;
}

.css-circle {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-color: #32cc66;
  margin: 0 0 0 5px;
  display: inline-block;
}

.tasks:hover .css-circle {
  background-color: #ccc;
}

.tasks:hover {
  color: #ccc;
}

.tasks:hover .tasks-row-txt {
  color: #ccc;
}

.tasks:hover .avatar-box-txt {
  color: #ccc;
}

.tasks:hover .gray_person {
  display: inline-block;
}

.tasks:hover .blue_person {
  display: none;
}


/*----BOX STYLING----*/

.avatar-box-1 {
    border: solid 1px;
    border-color: #ccc;
    width: 60px;
    border-radius: 5px;
    display: inline-block;
    margin: 0px 48px;
    vertical-align: top;
    padding: 2px 0 0 2px;
  
}

.avatar-box-2 {
    border: solid 1px;
    border-color: #ccc;
    width: 60px;
    border-radius: 5px;
    display: inline-block;
    margin: 0px 45px;
    vertical-align: top;
    padding: 2px 0 0 2px;

  
}

.avatar-box-3 {
    border: solid 1px;
    border-color: #ccc;
    width: 60px;
    border-radius: 5px;
    display: inline-block;
    margin: 0px 0px 0px 85px;
    vertical-align: top;
    padding: 2px 0 0 2px;
  
}

.avatar-box-4 {
    border: solid 1px;
    border-color: #ccc;
    width: 60px;
    border-radius: 5px;
    display: inline-block;
    margin: 0px 0px 0px 127px;
    vertical-align: top;
    padding: 2px 0 0 2px;
  
}

.avatar-box-txt {
  display: inline;
  float: right;
  font-size: .7em;
  position: absolute;
  padding: .2em 0 0 .2em;
}

.tasks_line {
  width: 100%;
}

.text-wrap {
  white-space: nowrap;
}

/*--------Recommendations----*/
#recommendations {
  margin: 5px 30px;
}

.recommendations-header {
  color: #2394ee;
  font-size: 1.5em;
  float: left;
  
}

.recommendations-header p {
  margin: 50px 0 0 -20px;
}

.recommendations {
  min-height: 50px;
  min-width: 325px;
  font-size: 1.5em;
  padding: .7em 0 .7em 0;
  color: #2394ee;
  float: left;
  border-bottom: 1px dotted #ccc;
}

.small_article {
  position: absolute;
}

.small_check {
  position: absolute;
}

.small_tip {
  position: absolute;
}

.recommendations-links {
  margin: 1em 0 0 0;
}

.recommendations-links a:hover {
  text-decoration: none;
}

.recommendations-links a:active {
  text-decoration: none;
}

.recommendations-maintxt {
  font-size: 1em;
  color: #777;
  margin: .3em 0 0 2em;
  line-height: 90%;
}

.recommendations-subtxt {
  font-size: .5em;
  margin: .2em 0 .1em 4em;
  color: #999;
}

.recommendations_dottedline {
  width: 100%;
}

/*------ANALYTICS-----*/
.analytics-main {
  min-height: 405px;
  border-left: 2px solid #f6f6f6;
  padding: .8em 1em 1em 1em;
  color: #999;
}

.analytics-header {
  font-size: 2.5em;
  color: #2394ee;
  text-align: left;
  margin: 10px 0 0 20px;
}

/*-----DROPDOWN----*/
.btn-danger {
  color: #000;
  background-color: #fff;
  border-color: #ccc;
}


.btn-group {
  float: right;
  padding: 0 40px 0 0;
}

.arrow {
  background-color: #fff;
}

.btn-group>.btn+.dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
    background: #fff;
    border: 1px solid #ccc;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #2497f4;
    border-color: #2947f4;
}

/*-----ANALYTICS CONTINUED----*/
.analytics_activity{
  float: left;
  padding: 0 0 20px 60px;
}

.analytics-activity-div {
  border-right: 3px solid #ddd;
  padding: 10px 0 0 0;
  margin: 0 0 20px 0;
}

#bar_graph {
  padding: 0 1em 0 0;
  width: 100%;
}

#pie_graph_channels {
  width: 100px;
  display: inline-block;
  margin: 0 10px;
}

#pie_graph_referrals {
  width: 100px;
  display: inline-block;
  margin: 0 10px;
}
.circle_graphs {
  padding: 10px 3px 0 0;
}

.circle_graph_txt {
  text-align: left;
  line-height: 70%;
  margin: 1em 0 0 .5em;
  padding: 10px 0 20px 10px;
}

/*-------SOCIAL MEDIA----*/
.social-media-form {
  border-bottom: 2px solid #f6f6f6;
  text-align: center;
  padding: 0 0 20px 0;
}

input[type=checkbox] {
  display: none;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 0 0 5px;
  background: url(../sprites/icons_sprites.png) -113px -18px no-repeat;
  cursor: pointer;
  vertical-align: middle;
}

input[type="checkbox"]:checked + label span {
  background: url(../sprites/icons_sprites.png) -164px -15px no-repeat;
}

.facebook-check {
  background-color: #114570;
  border-radius: 5px;
  height: 20px;
  width: 70px;
  display: inline-block;
  margin: 0 0 0 5px;
}


.facebook-check p {
  color: #fff;
}

.twitter-check {
  background-color: #2298f4;
  border-radius: 5px;
  height: 20px;
  width: 60px;
  display: inline-block;
  margin: 0 0 0 5px;
}

.twitter-check p {
  color: #fff;
}

.foursquare-check {
  background-color: #3a599b;
  border-radius: 5px;
  height: 20px;
  width: 80px;
  display: inline-block;
  margin: 0 0 0 5px;
}

.foursquare-check p {
  color: #fff;
}

.google-check {
  background-color: #31cc66;
  border-radius: 5px;
  height: 20px;
  width: 60px;
  display: inline-block;
  margin: 0 0 0 5px;
}

.google-check p {
  color: #fff;
}

/*------ANALYTICS CUSTOMERS-----*/
.contacts-customers {
  margin: 0 0 0 0;
}


.outer-box {
  min-height: 270px;
  /*border-top: 2px solid #f6f6f6;*/
  padding-top: 3.2em;
  text-align: center;
  max-width: 300px;
}

.border-left {
   border-left: 2px solid #f6f6f6;
}

.bottom {
  border-bottom: 2px solid #f6f6f6;
}


.inner-box {
  height: 200px;
  width: 210px;
  border-radius: 5px;
  border: 1px solid #c9c9c9;
  box-shadow: 0px 2px 3px 3px #b2b2b2;
  z-index:50;
  padding: 0 0 10px 0;
}

.analytics-box1 {
  background-color: #2394ee;
  height: 50px;
  width: 208px;
  margin: -8px 0 0 0;
  position: relative;
  z-index: 100;
}

.analytics-box1 img {
  margin: 10px 0 0 0;
}



.analytics-maintxt {
  color: #fff;
  font-size: 1.5em;
  line-height: 80%;
  padding: 13px 0 8px 0;
  text-align: center;
  margin: 0;
}

.analytics-subtxt {
  color: #fff;
  font-size: .8em;
  line-height: 0;
  text-align: center;
}

.avatar_green .avatar_orange {
  left: 85px;
  bottom: 140px;
  display: inline-block;
  z-index: 200;
}

.avatar_green {
  margin: -25px 0 0 0;
}

.avatar_orange {
  margin: -25px 0 0 0;
}

.ribbon_left {
  position: absolute;
  left: 0px;
  bottom: 113px;
  display: inline-block;
  margin: -8px 0 9px 0;
}

.ribbon_right {
  position: absolute;
  left: 225px;
  bottom: 113px;
  display: inline-block;
  margin: -8px 0 9px 0;
  
}

.customers-box {
  margin: 0 0 0 35px;
}

/*------Did you know-----*/
#did-you-know {
  display: inline-block;
  margin: 20px 0 20px 0;
  
}

#did-you-know p {
  color: #fff;
  word-wrap: break-word;
}

.did-you-know-title {
  padding: 30px 0 0 0;
}

.did-you-know-description {
  padding: 0 0 0 0;
}

.did-you-know-box {
  background: #2497f4;
  height: 150px;
  width: 100%;
  max-width: 700px;
}

.back_arrow .forward_arrow {
  display: block;
  position: absolute;
}

.back_arrow {
  z-index: 100;
  float: left;
  margin: 50px 0 0 0;
}

.forward_arrow {
  z-index: 100;
  float: right;
  margin: -100px 0 0 0;
}

/*-----Ads----*/
.ads-box {
  background: #2497f4;
  display: inline;
  height: 230px;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #f6f6f6;
}

.white-box1 {
  display: inline-block;
  background: #fff;
  height: 170px;
  margin: 20px;
  border-radius: 5px;
  padding: 0 5px 0 0;
  vertical-align: middle;
}

.ad_watch {
  position: relative;
  z-index: 99;
}



.white-box2 {
  display: inline-block;
  background: #fff;
  height: 168px;
  margin: 20px;
  border-radius: 5px;
  vertical-align: middle;
}

.ad_see {
  position: relative;
  z-index: 99;
  top: -10px;
}


.white-box3 {
  display: inline-block;
  background: #fff;
  height: 160px;
  margin: 20px;
  border-radius: 5px;
  padding: 0 0 0 5px;
  vertical-align: middle;
}

.ad_version {
  position: relative;
  z-index: 99;
}


/*---FOOTER---*/
  .footer {
    background-position: 0 25%;
    background-repeat: repeat-x;
    height: 60px;
    width: 100%;
  }

  .gray-box {
    padding-top: 0.7em;
  }
  
  .foot {
    display: inline;
    color: #777777;
    padding: 0 0.4em 0 0.4em;
  }
  
  .foot p {
    margin: 0 0 10px;
  }
  
  .left-text {
    padding: 1em;
    text-align: right;
  }
  
  .middle-text {
    padding: 20px 0 0 50px;
    
  }
  
  .side-border {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #dddddd;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #dddddd;
    padding: .8em;
  }
  
  .foot a {
    font-weight: 600;
    color: #337ab7;
    text-decoration: none;
  }
  
  .pull_up {
    display: inline-flex;
    padding-left: 1.4em;
    margin: 0 0 0 20px;
  }
  
  span.user_avatar {
    display: inline-flex;
    margin-top: -0.5em;
  }
  
  .logout {
    margin: 0 0 0 0;
  }
  
  span.facebook_nocolor {
    display: inline-flex;
  }
  
  span.twitter_nocolor {
    display: inline-flex;
  }
  
  span.foursquare_nocolor {
    display: inline-flex;
  }
  
  span.youtube_nocolor {
    display: inline-flex;
  }
  
  .social {
    padding: 20px 0 0 50px;
  }
  


/*----FOOTER SOCIAL MEDIA----*/
.facebook_nocolor:hover {
  background: url(../sprites/avatars_sprites.png);
  background-position: -18px -66px ;
}

.twitter_nocolor:hover {
  background: url(../sprites/avatars_sprites.png);
  background-position: -18px -114px ;
}


.foursquare_nocolor:hover {
  background: url(../sprites/avatars_sprites.png);
  background-position: -14px -216px ;
}

.youtube_nocolor:hover {
  background: url(../sprites/avatars_sprites.png);
  background-position: -14px -165px ;
}


/*---MEDIA QUERY---*/
@media screen and (max-width: 980px) {
.analytics-header {
  text-align: left;
  margin: 10px 0 0 0;
  }

.analytics-activity-div p {
  display: none;
  }
  
  .analytics-activity-div {
    border-right: none;
  }
  
  #bar_graph {
    max-width: 350px;
  }
  
  
  .customers-box {
    margin: 0 0 0 0;
  }
  
   .ads-box {
    background: none;
  }
  
  #ads {
    padding: 0 0 60px 0;
  }
  
  .tasks {
    border-bottom: none;
  }
  
  .recommendations {
     border-bottom: none; 
  }
  
  #dashboard p {
    font-size: 2.3em;
  }
  
  .announcements-txt {
    border-right: none;
  }
  
  #did-you-know {
    padding: 0 0 50px 0;
  }
  
  
}

@media screen and (max-width: 1200px) {
  .avatar-box-1 {
    margin: 0 0 0 0;
  }
  
  .avatar-box-2 {
    margin: 0 0 0 0;
  }
  
  .avatar-box-3 {
    margin: 0 0 0 40px;
  }
  
  .avatar-box-4 {
    margin: 0 0 0 85px;
  }
  
  .tasks {
    border-bottom: none;
  }
  
  .recommendations {
    border-bottom: none;
  }
  
  .announcements-txt {
    border-right: none;
  }
  
  .ads-box {
    display: none;
  }
  
  #ads {
    display: none;
  }
}


@media screen and (max-width: 450px) {
    .social-media-form {
    display: none;
  }
  
  #did-you-know {
    display: none;
  }
  
  .bottom {
    padding-bottom: 60px;
  }
  
  /* .btn-group {
    display: none;
  }*/
} 


/*------STICKY FOOTER STYLES-----*/
#mobile-menu {
  height: 60px;
}

#mobile-menu .hover-broder {
  border-right: 1px solid #000;
}

.navbar-fixed-bottom {
  background-color: #164872;
}

#mobile-menu .dashboard-shadow {
  zoom: .7;
  
}

#mobile-menu .customers-shadow {
  zoom: .7;
  margin: 30px 10px 0 10px;
}

#mobile-menu .messages-shadow {
  zoom: .7;
}

#mobile-menu .promotions-shadow {
  zoom: .7;
}

#mobile-menu .page_creator-shadow {
  zoom: .7;
}

#mobile-menu .analytics-shadow {
  zoom: .7;
}



 